{% extends 'base.html' %}
{% block content %}

<h1>Students List</h1>

{% for student in students %}
  <a href="{% url 'detail' student.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ student.name }}</span>
        <p>Contact Number: {{ student.contact_number|linebreaks }}</p>
        {% if student.age > 0 %}
          <p>Student Age: {{ student.age }}</p>
        {% else %}
          <p>Age: Entern</p>
        {% endif %}
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}