{% extends 'base.html' %}
{% block content %}

<div class="section-1 mt-5" style="margin-bottom: 40%;">
    <div class="container left w-50"  style="padding-left: 10rem;">
        <h6 class="mt-5">PLAY. EXPLORE. LEARN.</h6>
        <p class="display-5 fw-bolder text-warning mt-5">A Safe and <br> Joyful Place for Kids</p>
        <p class="mt-5 fs-5">LearnHub stands as the leading EdTech company <br>where education meets innovation and kids rejoice in success.</p>
        <button type="submit" class=" btn btn-primary orange border border-0 rounded-pill" style="margin-top: 3%; padding:20px 60px 40px 60px;">Enroll your kid</button>
    </div>
    <div class="container right w-50">
        <img src="static/img/img11.jpg" class=" rounded-4" alt="LearnHub" style="margin:3rem 10rem 0 0; height: 60vh; width:70%; ">
        <img src="static/img/img10.png" class="rounded-4 z-3" style="margin-top: 30rem;">
    </div>
</div>

<div class="section-2 " style="padding-top: 20rem;">
    <div class="container right w-50">
        <h6> OUR VISION</h6>
        <p class="display-5 fw-bolder text-warning">"Success does not <br>solely depend on <br> one's level of <br>intelligence."</p>
        <p>No evidence of being successful is based on being smart in any field, especially in academics.
            Here at LearnHub, we believe that every student shines in their way and we uncover that with a tailored tutor. 
            Every single young student has uncovered potential and with the right support, they can become the best version of themselves. 
            “Navigating the Path to Success with Resilience, Innovation, and Strategic Brilliance.”
             – Ayush Khaitan, CEO & Founder of LearnHub, – </p>
        <button type="submit" class=" btn btn-primary orange border border-0 rounded-pill" style="margin-top: 3%; padding:20px 60px 40px 60px;">Know more about Us</button>
    </div>
    <div class="container right w-50">
        <img src="static/img/img9.jpg" class=" rounded-4" alt="LearnHub" style="height: 45vh; margin-right: 7rem; width: 70%;">
    </div>
</div>
<div class="section-3 row" style="margin-top:35rem">
    <div class="container right w-50">
        <h6> WHY US</h6>
        <p class="display-5 fw-bolder text-warning">The best early <br>learning experience</p>
        <p>Here are just some of the reasons that you’ll love the way we do<br>things at Connect2learn.</p>
        <ol>
            <li>Simple, Quick and Flexible</li>
            <li>Passionate teachers</li>
            <li>Structured & Tailored Lessons</li>
        </ol>
        <button type="submit" class=" btn btn-primary orange border border-0 rounded-pill" style="margin-top: 3%; padding:20px 60px 40px 60px;">Know more</button>
    </div>
    <div class="row w-50 mt-5">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
              </div>
            </div>
          </div>
      </div>
</div>   
  
{% endblock %}